<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Mirror" value="https://repo1.uhc.com/artifactory/api/nuget/nuget-virtual/"/>
    <add key="Optum" value="https://repo1.uhc.com/artifactory/api/nuget/UHG-NuGet-Gallery/"/>
  </packageSources>

  <packageSourceMapping>
    <packageSource key="Mirror">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Optum">
      <package pattern="Optum.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>