<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Project-specific repository for commpay-vpay packages -->
    <add key="CommpayVpay" value="https://centraluhg.jfrog.io/artifactory/api/nuget/v3/commpay-vpay-nuget-vir" protocolVersion="3" />
    <!-- Global repository for other packages -->
    <add key="Artifactory" value="https://centraluhg.jfrog.io/artifactory/api/nuget/v3/glb-nuget-vir" protocolVersion="3" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="CommpayVpay">
      <package pattern="Vpay.*" />
      <package pattern="VPay.*" />
      <package pattern="VPay.Preferencing.Client" />
      <package pattern="FaxManagement.Client" />
    </packageSource>
    <packageSource key="Artifactory">
      <package pattern="*" />
      <package pattern="VPay.Preferencing.Client" />
      <package pattern="FaxManagement.Client" />
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="AutoMapper" />
      <package pattern="MassTransit.*" />
    </packageSource>
  </packageSourceMapping>

  <packageSourceCredentials>
    <CommpayVpay>
      <add key="Username" value="%JF_USER%" />
      <add key="ClearTextPassword" value="%JF_TOKEN%" />
    </CommpayVpay>
    <Artifactory>
      <add key="Username" value="%JF_USER%" />
      <add key="ClearTextPassword" value="%JF_TOKEN%" />
    </Artifactory>
  </packageSourceCredentials>
</configuration>
